* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-dark-purple: #5C6981;
  --bg-gray: #8E9AAF;
  --bg-dark-pink: #CBC0D3;
  --bg-pink: #FEEAFA;
  --bg-light: #EFF1FF;
  --dark-color: 323053A;
}

body {
  height: 100vh;
  font-family: 'Palanquin', sans-serif;
  color: var(--bg-dark-purple);
  background: var(--bg-light);
}

#app {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 , h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  letter-spacing: 1px;
}

header {
  background: var(--bg-gray);
}

header::before {
  content: url(./assets/moon.svg);
  display: block;
  padding: 3.4rem;
}

header h1 {
  padding: 1rem 0;
  font-size: 4rem;
  line-height: 3.4rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.253);
  color: var(--bg-light);
  background: var(--bg-dark-pink);
}

header p {
  padding: 1.4rem 3.2rem 5rem;
  background: var(--bg-light);
}

main {
  padding: 1.4rem 3.2rem;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 2rem;
}

.card + .card {
  margin-top: 3.2rem;
}

.card h2 {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  padding: 0 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  line-height: 3.4rem;
  color: var(--bg-dark-purple);
  background: var(--bg-pink);
}
footer{
  display: none;
  padding: 2rem 3.2rem;
}

footer p {
  padding-bottom: 4rem;
  font-size: 1.6rem;
}


footer p a {
  font-weight: 800;
  text-decoration: none;
  color: #3c4453;
}

@media (min-width:600px) {
  #app {
    display: grid;
    grid-template-areas: 
    'header main'
    'header footer';
    grid-template-columns: 1fr 4fr;
  }

  header {
    grid-area: header;
  }

  header::before {
    content: url(./assets/moon-line.svg);
    display: block;
  }
  
  header p {
    margin-top: 5rem;
    font-size: 2.4rem;
    color: var(--bg-light);
    background: var(--bg-gray);
  }

  main {
    grid-area: main;
    margin: 0 auto;
  }

  #card {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: block;
    grid-area: footer;
  }
}

@media (min-width: 900px) {

  #cards {
    display: grid;
    grid-template-areas: 
    'massa1 shake massa2'
    'picole1 shake picole2'
    'picole1 acai picole2';
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.4rem;
    padding: 4rem 10rem;
  }

  h2 {
    display: none;
  }

  .card img {
    height: 100%;
    object-fit: cover;
  }

  .card:nth-child(1) {
    grid-area: massa1;
  }

  .card:nth-child(2) {
    grid-area: picole1;
  }

  .card:nth-child(3) {
    grid-area: acai;
  }

  .card:nth-child(4) {
    grid-area: shake;
  }

  .card:nth-child(5) {
    grid-area: massa2;
  }

  .card:nth-child(6) {
    grid-area: picole2;
  }

  .card + .card {
    margin-top: 0;
  }
}