* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-epilogue: 'Epilogue', sans-serif;
  --hue: 250;
  --bg-primary: hsla(var(--hue), 22%, 20%, 1);
  --bg-secudary-light: hsla(var(--hue), 50%, 80%, 1);
  --bg-secundary-dark: hsla(var(--hue), 100%, 11%, 1);
  --bg-white: #fff;
}

body {
  padding: 0 1rem;
  font-family: var(--font-epilogue);
  color: var(--bg-white);
  background: var(--bg-primary);
}

#app {
  max-width: 33rem;
  margin: 0 auto;
  padding: 10rem 2rem 8rem;
}

header {
  margin-bottom: 8rem;
  text-align: center;
  animation: topDown .7s ease forwards;
}

header p {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--bg-secudary-light);
}

header h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
}

main {
  display: grid;
  gap: 3.2rem;
}

img {
  width: 100%;
}

.card {
  position: relative;
  animation: downTop .7s ease .2s backwards;
}

.card img {
  height: 40rem;
  border-radius: .6rem;
  object-fit: cover;
  filter: brightness(0.8) blur(1px);
  transition: .3s ease;
}

.card img:hover  {
  filter: brightness(0.8)blur(0);
  transform: scale(1.025);
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: clamp(4rem, 1rem + 3vw , 4rem);
  transition: .3s ease;
}

.card h2:hover {
  transform: scale(1.025);
}

.card h2 span {
  width: fit-content;
  padding: 1rem 1.6rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--bg-secundary-dark);
  background: var(--bg-white);
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 720px) {
  #app {
    max-width: 1170px;
  }

  header h1 {
    font-size: 5.2rem;
  }

  main {
    display: grid;
    grid-template-areas: 
    'card1 card2 card2'
    'card3 card3 card4';
  }

  main div:nth-child(1) {
    grid-area: card1;
  }
  
  main div:nth-child(2) {
    grid-area: card2;
  }
  
  main div:nth-child(3) {
    grid-area: card3;
  }

  main div:nth-child(4) {
    grid-area: card4;
  }
}
