* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark-blue: #293241;
  --bg-light-blue: #BFD7E4;
  --bg-light-red: #F67669;
  --color-white: #fff;
  --color-dark-blue: #253B51;
} 

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-light-blue);
}

body::before {
  content: '';
  width: 100%;
  height: 480px;
  position: absolute;
  z-index: -1;
  background: var(--bg-dark-blue);
}

#app {
  width: 780px;
  margin: auto;
  padding: 100px 0;
}

h1 , legend , input[type='submit']{
  font-family: 'Staatliches';
  font-weight: 400;
}

header {
  text-align: center;
  color: #fff;
}

header img {
  margin: 24px 0 32px;
}

form {
  padding: 32px 64px 64px;
  border-radius: 20px 20px 0 0;
  background: var(--color-white);
}

fieldset {
  border: none;
}

legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E6E6F0;
  font-size: 24px;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

label span {
  font-size: 12px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.input-wrapper input , .input-wrapper textarea , .input-wrapper select , .date-wrapper input{
  padding: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-wrapper #names {
  display: flex;
  gap: 24px;
}

.input-wrapper #names div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper select {
  width: 312px;
  appearance: none;
  -moz-appearance: none;
  background: var(--color-white);
}

.input-wrapper textarea {
  height: 200px;
  resize: none;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%23F67669'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left 3px top 4px;
}

.date-wrapper {
  display: flex;
  gap: 24px;
}

.date-wrapper div {
  display: flex;
  flex-direction: column;
}

.date-wrapper div:first-child {
  width: 100%;
}

.submit-wrapper {
  margin-top: 64px;
}

input[type='submit'] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: var(--color-white);
  background: var(--bg-light-red);
}

input[type='submit']:hover {
  cursor: pointer;
}
